<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <style> 
        .user{
            background-color: orange;
        }
    </style>
</head>

<body>
    <div class="user">
        <p>Selected Grade: <%= grade %>
        </p>
        <p>Subject: <%= subject %>
        </p>
        <p>Difficulty: <%= difficulty %>
        </p>
    </div>
    


    <% if(q){ %>
        <div>
            <p>
                <%= q.question %>
            </p>
            <p>Answer: <%= q.answer %>
            </p>
            <p>
                <p>Difficulty: <%= q.difficulty %>
                </p>
            </p>
            <p>Topic: <%= q.topic %></p>
        </div>
        <% }else{ %>
            <div>
                <p>Nothing here yet!</p>
            </div>
            <% } %>






</body>

</html>