<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    <p>Selected Grade: <%= grade %>
    </p>
    <p>Subject: <%= subject %>
    </p>
    <p>Difficulty: <%= difficulty %>
    </p>

    <% if(q){ %>
        <div>
            <p>
                <%= q.question %>
            </p>
            <p>Answer: <%= q.answer %>
            </p>
            <p>
                <%= q.difficulty %>
            </p>
        </div>
        <% }else{ %>
            <div>
                <p>Nothing here yet!</p>
            </div>
            <% } %>






</body>

</html>